body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

div {
    position: relative;
}

section {
    position: relative;
}

.height-45 {
    height: 45px;
}

.all {
    display: flex;
}

.meta-item {
    padding-right: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.header {
    height: 125px;
    width: 100%;
}

.container-menu-header {
    width: 100%;
    height: 125px;
    background: white;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9997;
    box-shadow: 0px 1px 2px 1px #f2f3f4;
}

.topbar {
    height: 35px;
    width: 100%;
    background-color: white;
    position: relative;
}

.wrap-menu {
    height: 80px;
    background-color: white;
    position: absolute;
    display: block;
    right: 50px;
}

.block-content {
    position: absolute;
    height: 100%;
    top: 0;
    right: 30em;
}

.user {
    position: absolute;
    height: 100%;
    top: 0;
    right: 60px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
}

.block-html-content {
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    color: #f58220;
}

.logo {
    display: block;
    position: absolute;
    left: 50px;
    z-index: 900;
    margin-top: -20px;
}

.logo img {
    max-height: 100px;
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    margin: 0px;
}

.main-menu li {
    display: block;
    position: relative;
    padding: 17px 10px;
}

.main-menu>li>a {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #182978 !important;
}

.main-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu {
    list-style-type: none;
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 100%;
    width: 225px;
    border: #ACBFE6 1px solid;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.sub-menu li,
.sub-menu a {
    right: 50px;
    padding: .7rem .75rem;
    color: #182978;
}

.main-menu li .sub-menu {
    top: 100%;
    left: 0;
    position: absolute;
}

.sub-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}
.footer-menu {
    align-items: center;
    list-style-type: none;
}
.footer-menu>li>a {
    font-size: 13px;
    font-weight: 600;
    color: #182978 !important;
    list-style-type: none;
}

.sec-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-title {
    text-transform: uppercase;
    color: #6688CC;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
}

.m-title p {
    border-bottom: 1px solid #32b97a;
}

.h-title {
    font-size: 15px;
    padding: 5px;
    font-weight: 500;
    overflow: hidden;
    line-height: 20px;
}

.h-title a {
    color: #007bff;
}

.h-title p {
    width: 100%
}

.m-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #3c3c3c;
    font-weight: bold;
}

.select-box {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.select-title {
    height: 19px;
    margin-bottom: 3px;
    color: #636262;
    font-weight: 700;
}

.select-content select {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 10px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    color: #000;
}

.search_button_container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 41.5%;
    width: 199px;
}

.search_button_container input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #015ea7;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    padding: 9px;
}

.parallax {
    background-image: url("img/art.png");
    background-color: #ACBFE6;
    min-height: auto;
    background-size: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-blend-mode: overlay;
    color: #182978 !important;
}

.project {
    z-index: 900;
}

.banner-large {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner-small {
    width: calc((100%) - 15px);
    height: 330px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.block {
    width: 100%;
    height: 100%;
}

.block img {
    width: 100%;
    height: 300px;
}

.sec-banner-large-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -20px;
}

.sec-banner-small-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -50px;
    height: 50px;
}

.s-title {
    font-weight: bold;
    color: #182978;
    font-size: 18px;
}

.popular-project {
    padding-top: 40px;
    padding-bottom: 30px;
    z-index: 900;
}

.box-wrap {
    padding: 30px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
}

.box-content {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
}

.b-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.r-15 {
    right: 15px;
}

.r-80 {
    right: 80px;
}

.box-image {
    width: 100%;
    height: 100%;
}

.box-image img {
    width: 250px;
    height: 150px;
}

.box-text span {
    color: red;
    font-weight: bold;
    margin-right: 2px;
}

.border-box-blue {
    border: #182978 2px solid;
    padding: 30px;
}


/* .grid {
    padding-left: 60px;
} */

.grid-image {
    width: 235px;
}

.grid-image img {
    width: 100%;
    height: 150px;
}

.grid-date {
    font-size: 14px;
    opacity: 0.8;
}

.grid-title {
    color: #182978;
    font-weight: 600;
    font-size: 1.1rem;
    width: 100% !important;
    line-height: 20px;
    height: 60px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.grid-title p {
    width: 100% !important;
}

.grid-content {
    color: black;
    text-align: justify;
    width: 100% !important;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 78px;
}

.news {
    margin-top: 30px;
    margin-bottom: 50px;
}

.border-news {
    background: whitesmoke;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    padding: 30px;
}

.about {
    background-color: #182978;
    width: 100%;
}

.about-title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.525rem;
    color: #FF9A00;
    text-align: justify;
}

.video iframe {
    width: 1000px !important;
    height: 500px !important;
    position: relative !important;
}

.video-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100% !important;
}

.video-container p {
    width: 100%;
}

.slider-contanier {
    width: 100%;
}

.history-content {
    color: white;
    text-align: justify;
}

.end {
    padding-top: 30px;
    padding-bottom: 30px;
}

.end-title {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #182978;
}

.end-border {
    /* -webkit-box-shadow: 1px 1px 1px 0px rgba(135, 131, 135, 0.8);
    box-shadow: 1px 1px 1px 1px rgba(135, 131, 135, 0.8); */
    border: #5586ba 1px solid;
}

.end-image {
    width: 100%;
    height: 200px;
    padding: 20px;
}

.end-image img {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 300px;
    color: #182978;
}

.pt {
    padding-top: 40px;
}

.footer-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.footer-social .icon {
    font-size: 40px;
    margin-left: 10px;
}

.fa-facebook {
    color: #29487d;
}

.fa-youtube {
    color: #cc181e;
}

.fa-envelope {
    color: darkgoldenrod;
}

.form-send-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#bt-email {
    background-color: #f58220;
    color: white;
}

.address {
    right: 20px;
}

.address ul li {
    list-style: none;
}

.address li p {
    font-size: 13px;
    font-weight: bold;
}

.copy-right {
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.copy-right a {
    color: #FF9A00;
}

.btn-slide-bar {
    position: fixed;
    top: 200px;
    display: block;
    left: 0;
    background: #18c32d;
    width: 40px;
    z-index: 1500;
    text-align: center;
}

.symbol-btn-slide-bar {
    font-size: 29px;
    color: white;
}

.none {
    display: none;
}

.slide-bar-container {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10001;
}

.slide-bar-form {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    left: 50% !important;
    z-index: 10001;
    background: #5586ba;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 500px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
}

.wrap-form {
    border: 0px dashed #e0e0e0 !important;
    padding: 0 !important;
}

.wrap-form-title {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.v-form {
    margin: 8px 0;
}

.v-title {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
}

.v-title span {
    color: red;
}

.v-input {
    border: 1px solid #fff;
    background: #fff;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100% !important;
}

.v-submit {
    background: #fff;
    border: 2px solid #ccc;
    width: 32%;
    padding: 10px 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
    display: block;
    border-radius: 3px;
    color: #1b4145;
}

.close-form {
    position: absolute;
    top: -10px;
    right: 0px;
    display: block;
    font-size: 30px;
    z-index: 1502;
}

.btn-back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 95px;
    right: 30px !important;
    background-color: black;
    opacity: 0.5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10002;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
    font-size: 22px;
    color: white;
    line-height: 1em;
}

.menux,
.menuy {
    position: fixed;
    right: -3000px;
    width: 70%;
    height: 100%;
    overflow: scroll;
    top: 85px;
    background: #182978;
    z-index: 10001;
    transition: all 0.3s;
}

.menuy {
    height: auto !important;
}

.menux.active,
.menuy.active {
    right: 0;
}

.menu_container {
    width: 100%;
    height: 100%;
}


/* .menu.active .menu_container {
    height: 500px;
} */

.page_menu_content {
    padding-right: 30px;
    overflow: hidden;
    text-align: right;
}

.page_menu_item {
    display: block;
    position: relative;
}

.page_menu_nav>li {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.page_menu_item>a {
    display: block;
    color: white;
    font-weight: 700;
    line-height: 50px;
    height: 50px;
    font-size: 1rem;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.page_menu_item>a:hover {
    color: #c3c1cc;
}

.page_menu_item a i {
    display: none;
    margin-left: 8px;
}

.page_menu_item.has-children>a>i {
    display: inline-block;
}

.page_menu_selection {
    margin: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    z-index: 1;
}

.page_menu_selection li {
    padding-right: 15px;
    line-height: 40px;
}

.page_menu_selection li:last-child {
    padding-bottom: 20px;
}

.page_menu_selection li a {
    display: block;
    color: #FF9A00;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.page_menu_selection li a:hover {
    color: #c3c1cc;
}

.page_menu_selection li:last-child a {
    border-bottom: none;
}

.hotline {
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 1499;
    display: block;
    background: red;
    color: white;
    padding: 10px;
    border-radius: 99px;
}

.bor-tel {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1498;
    display: block;
    width: 70px;
    height: 65px;
    border: white 2px solid;
    background: red;
    opacity: 0.7;
    border-radius: 50%;
    animation: pulse linear 1s infinite;
}

.bg-tel {
    width: 50px;
    height: 45px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 1498;
    display: block;
    background: red;
    border-radius: 50%;
}

.bg-tel .fa-phone-volume {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white !important;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.intro {
    background-image: url("img/sunshine.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 200px;
    opacity: 0.5;
    text-align: center;
    padding: 100px 0;
    width: 100%;
}

.wrap-intro {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   /* background: #182978;*/
    color:#f8f9fa;
    padding: 30px 40px 20px;
    border-radius: 4%;
}

.breadcrumb {
    color: white;
    background-color: transparent;
}

.breadcrumb a {
    font-weight: bold;
    color: white;
}

.home-icon {
    background-color: #182978;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.icon-image {
    font-size: 4em;
    text-align: center !important;
    color: #FF9A00;
    display: inline-block;
    background: #ACBFE6;
    border-radius: 50%;
    padding: 25px;
    position: relative;
    border: 14px solid #6688CC;
    min-width: 160px;
    min-height: 160px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.icon-image:hover {
    border: 14px solid #FF9A00;
}

.icon-title {
    min-height: 50px;
    color: #FF9A00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 15px 0;
}

.icon-content {
    color: #ACBFE6;
}

.history {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-containner {
    text-align: center;
    color: white;
}

.contact-title {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
    -webkit-animation: changeColor 1s infinite;
    animation: changeColor 1s infinite;
}

.contact-tel {
    color: #182978;
}

@-webkit-keyframes changeColor {
    0%,
    50%,
    100% {
        color: red;
    }
    25%,
    75% {
        color: #182978;
    }
}

@keyframes changeColor {
    0%,
    100% {
        color: #182978;
    }
    50% {
        color: red;
    }
}

.product {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: whitesmoke;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    width: 100%;
}

.control-bar {
    border: 2px solid #6688CC;
    background: white;
    width: 100% !important;
    padding: 1.8em;
}

.control-bar ul li {
    list-style: none;
}

.control-bar ul li a {
    color: #007bff;
    opacity: 0.8;
}

.left-sub {
    display: -ms-grid;
    display: grid;
}

.p-title {
    color: #007bff;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.search-product {
    border: 1px solid #e6e6e6;
    overflow: hidden;
    margin: 20px;
}

.search-input {
    width: 100%;
    height: 58px;
    font-size: 13px;
    padding-left: 23px;
}

.btn-search {
    position: absolute;
    right: 0px;
    top: 50%;
}

.container-select {
    padding-bottom: 10px;
}

.w-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.select-sorting {
    width: 200px;
    border: 1px solid #6688CC;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
}

.select-sorting select {
    color: #182978;
    font-weight: bold;
    background: transparent;
    width: 100%;
    height: 30px;
}

.select-sorting option {
    color: #6688CC;
}


/* .pagination {
    display: block;
    padding-top: 20px;
}

.pagination-item {
    font-size: 15px;
    width: 36px;
    height: 36px;
    border-radius: 23%;
    border: 1px #6688CC solid;
    margin: 5px;
    padding: 10px;
}

.pagination a {
    text-align: center;
    color: #ACBFE6;
}
 */

.btn-srcoll-to {
    position: fixed;
    top: 200px;
    display: block;
    right: 0;
    background: #18c32d;
    width: 40px;
    z-index: 1500;
    font-size: 29px;
    color: white;
    text-align: center;
}

.scroll-to-the-selected {
    position: fixed;
    top: 150px;
    right: 0;
    z-index: 800;
}

.main-scroll-container {
    padding: 10px;
}

.main-scroll-container li {
    padding: 1em;
    border: 1px #6688CC solid;
    background: whitesmoke;
    color: #6688CC;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    box-shadow: 1px 1px 10px 0px rgba(135, 131, 135, 0.8);
    list-style-type: none;
}

.main-scroll-container li a {
    text-align: center;
    padding: 10px;
}

.main-scroll-container li i {
    width: 20px;
    padding: 5px;
}

.product-detail {
    padding: 20px;
}

.pro-title {
    font-size: 28px;
    font-weight: bold;
    color: #182978;
}

.pro-detail {
    font-size: 18px;
}

.pro-wrap {
    padding-bottom: 10px;
}

.pro-detail-title {
    color: red;
    font-weight: bold;
    margin-right: 20px;
}

.pro-detail-c {
    color: #6688CC !important;
}

.pro-content {
    font-size: 18px;
    width: 100%;
}

.pro-content p {
    width: 100% !important;
}

.pro-content img {
    width: 100% !important;
    height: auto !important;
}

.popup-gallery img {
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.map iframe {
    width: 100%;
}

.contact-company {
    padding-top: 10px;
}

.contact-company-title {
    font-size: 25px;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
}

.contact-company-title small {
    font-size: 11px;
    text-align: justify;
}


/* Custom */

.alter-grid {
    width: 250px;
}

.alter-grid img {
    width: 100%;
    height: 200px;
}

.alter-contanier {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100% !important;
}

.content-tabs-item {
    width: 100% !important;
}

.content-tabs-item p {
    width: 100% !important;
}

h1,
h3,
h4,
h5,
h6 {
    width: 100% !important;
}

.content-tabs-item img {
    width: 100% !important;
    height: auto !important;
}

.topbar-login {
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    position: absolute;
    right: 0;
    display: flex;
    width: 14em;
}

.text-l {
    background: white;
    width: 50%;
    text-align: center;
    padding: .8em;
    box-shadow: 1px 1px 1px 0px #888888;
    cursor: pointer;
}

.text-l:hover {
    background: #007bff;
    transition: linear 0.3s;
    color: white;
}

.icon-test {
    font-size: 3em;
    text-align: center !important;
    margin-bottom: .8em;
}

.alert {
    position: absolute;
    top: 0;
    left: 30%;
    padding: 0.2em;
}

.alert-danger {
    color: white;
    background-color: red;
    border-color: #f5c6cb;
}

.wrap-login {
    background: #f9f9f9;
    padding: 4em;
    width: 100%
}

.login-backgroud {
    min-height: 1000px;
    opacity: 0.5;
    width: 100%;
    color: black;
    font-size: 0.9em !important;
    border: 1px solid #ACBFE6;
    background: white;
}

.login-form {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    padding: 5em;
    border-radius: 1em;
    border: 2px solid #e0e3e5;
    box-shadow: 1px 1px 1px 1px #e0e3e5;
}

.form-control {
    font-size: 1em;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 0px #888888; */
}

.btn-primary {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px #ACBFE6;
}


/* Info*/

.info {
    background: white;
    padding: 4em;
    width: 100%;
    min-height: 800px;
}

.info-header {
    left: 45%;
    display: inline-block;
}

.avatar {
    width: 150px;
    height: 150px;
}

.avatar-name {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav a {
    font-size: 1em;
    font-weight: 700;
}

.nav .fas {
    padding-right: 5px;
}

#thongtincanhan {
    width: 75%;
}

#doimatkhau {
    width: 50%;
}

.user-li a {
    color: #3366ff !important;
    margin-left: 1em;
}

.background-pentagon {
    background-image: url('img/texture-bw.png');
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}

.icon-hit {
    font-size: 4em;
    color: #FF9A00;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-left: 40%;
    margin-top: 20px;
}

.hit-container {
    width: 100%;
    padding-bottom: 60px;
}

.footer-hit {
    background: white;
    padding: .4em;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 165px;
}

.footer-hit p {
    font-size: 0.9em;
    font-weight: 700;
}

.hit-title {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #182978;
    -webkit-animation: changeColor 1s infinite linear;
    animation: changeColor 1s infinite linear;
}

.rotation {
    -webkit-animation: rotation 22s infinite linear;
    animation: rotation 22s infinite linear;
}

.fadein {
    -webkit-animation: fadeIn 7s infinite linear;
    animation: fadeIn 7s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.6;
    }
}


/*# sourceMappingURL=style.css.map */