.wrap-header-mobile {
    display: none;
}

.menux,
.menuy {
    display: none;
}

.bor-tel,
.bg-tel {
    display: none;
}

@media only screen and (max-width:1025px) {
    body {
        font-size: 15px;
    }
    .block-content {
        right: 90px;
    }
    .container-menu-header {
        height: 140px;
    }
    .intro {
        background-attachment: scroll;
    }
    .menux,
    .menuy {
        display: block;
    }
    .menu {
        margin-left: 20em;
    }
    .alter-grid {
        width: 210px;
    }
    /* Slide bar */
    .slide-bar-form {
        top: 10%;
    }
}

@media only screen and (max-width: 769px) {
    .user {
        display: none;
    }
    .slide-bar-form {
        top: 10%;
    }
    .wrap-header {
        display: none;
    }
    /* Topbar */
    .block-content {
        top: 0;
        right: 40px;
    }
    .topbar {
        height: 25px;
    }
    .logo {
        margin-top: 5px;
    }
    .block-html-content {
        font-size: 8px;
    }
    /* Header */
    .wrap-header-mobile {
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        min-height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        width: 100% !important;
    }
    .logo {
        display: block;
    }
    .logo img {
        max-height: 70px;
        max-width: 160px;
    }
    .show-menu {
        margin-left: auto!important;
        display: flex;
    }
    .show-menu i {
        color: black !important;
    }
    .bar-menu {
        display: flex;
        padding-right: 30px;
        cursor: pointer;
        font-size: 20px;
    }
    .search_button_container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
    }
    .banner-small {
        width: 100%;
        height: 100%;
    }
    .block img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 200px;
    }
    .pb-25 {
        padding-bottom: 25px;
    }
    .box-content {
        text-align: justify;
        font-size: 14px;
        padding: 14px;
        height: 52px;
    }
    .box-text {
        text-align: justify;
        font-size: 14px;
        padding: 14px;
    }
    .grid-title {
        text-align: justify;
        width: 100%;
        padding-top: 20px;
    }
    .grid-content {
        font-size: 14px;
        text-align: justify;
    }
    .about {
        height: auto;
    }
    .r-80 {
        right: 0;
    }
    .contanier-about-image {
        padding: 10px;
    }
    .footer {
        height: 800px;
    }
    .p-10 {
        padding: 10px;
    }
    /* Intro */
    .icon-content {
        padding-bottom: 20px;
    }
    /* Product */
    .box-image img {
        width: 100%;
    }
    .product {
        padding-left: 10px;
        padding-right: 10px;
    }
    .popup-gallery img {
        width: 100%;
    }
    /* 
    */
    .grid-image {
        width: 100%;
    }
    .alter-grid {
        width: 100%;
    }
    .alter-contanier {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bor-tel,
    .bg-tel {
        display: block;
    }
    .hotline {
        display: none;
    }
    .login-form {
        width: 100%;
    }
    .wrap-login {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .login-backgroud {
        min-height: initial;
        border-radius: 1em;
    }
    .login-form {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
    }
    .alert {
        left: initial;
    }
    #map {
        height: 300px;
    }
    .info {
        padding: initial;
    }
    .footer-hit {
        height: 180px;
    }
}

@media only screen and (max-width:492px) {
    .info-header {
        left: 28%;
    }
    .slide-bar-form {
        top: 0;
    }
    .logo {
        margin-top: 0px;
    }
    /* Dự án nổi bật */
    .banner-large {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .banner-small {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .block img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
    }
    .sec-banner-large-title {
        position: relative;
        margin-bottom: 0px;
    }
    .sec-banner-small-title {
        position: relative;
        margin-bottom: 0px;
    }
    .s-title {
        text-align: center;
    }
    .grid {
        padding-left: 0;
    }
    .grid-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        height: 500px;
    }
    /* Intro */
    .intro {
        background-attachment: scroll;
    }
    .breadcrumb {
        font-size: 14px;
        display: inline-block;
        width: 200px;
    }
    .icon-title {
        min-height: 0;
    }
    .parallax {
        background-attachment: scroll;
        background-size: 200%;
    }
    /* Product */
    .container-select {
        padding: 15px;
    }
    .pagination {
        justify-content: center;
        display: flex;
    }
    .pagination-item {
        font-size: 13px;
        width: 25px;
        height: 25px;
        padding: 2px;
    }
    /* Product detail */
    .contact-company form {
        width: 100%;
    }
    .alter-contanier {
        padding-left: 10px;
        padding-right: 10px;
    }
    #thongtincanhan,
    #doimatkhau {
        width: 100%;
    }
    .video iframe {
        width: 100%;
    }
}

@media only screen and (max-width:322px) {
    .block-content {
        top: 0;
        right: 20px;
    }
}